/*^ STYLES RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Arimo', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/*^ TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

html {
  font-size: 62.5% !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
strong,
sub,
sup {
  font-family: 'Arimo', sans-serif;
}

p {
  font-size: 2rem;
  line-height: 1.2;
}

h1, h2 {
  font-size: 4.3rem !important;
  font-weight: 700 !important;
  color: #212121;
}

h3 {
  font-size: 4.2rem !important;
  font-weight: 700 !important;
}
h4,
h5,
h6 {
  font-size: 2.8rem !important;
  font-weight: 700 !important;
}

.bold {
  font-weight: 700 !important;
}

.red-text {
  color: #eb2d3f;
}

/*^ LAYOUT  */

section {
  padding: 32px 0;
}

.container {
  max-width: 1400px !important;
  margin: 0 auto !important;
}

/*^ HEADER *****************************************************************/

/*^ NAV *****************************************************************/

.nav-item {
  font-size: 1.6rem;
}

.navArea {
  padding: 10px 0;
}

.hero-content {
  padding-right: 226px !important;
}

#formBox {
  border-radius: 10px;
}

/*^ SOLUTIONS SECTION *****************************************************************/
#solutions {
  background-color: #f9f9ff;
}

#changingFeaturesText {
  font-size: 4rem;
  font-weight: 500;
}
.fullfillment {
  position: relative;
}
.middle-div {
  position: absolute;
  top: -20px;
  left: 0;
}

.fullfillment p {
  font-size: 2rem;
}

.fullfillments {
  font-size: 4.5rem !important;
}

/*^ FORM */
.demo-form {
  font-size: 1.6rem;
}

.demo-form ::placeholder {
  font-size: 1.6rem;
}

.free-demo-btn {
  font-size: 1.6rem !important;
  border: solid 1px #eb2d3f !important;
  border-radius: 50px !important;
  padding: 4px 16px !important;
  color: #fff !important;
  background-color: #eb2d3f !important;
}

/*^ SALES SECTION *****************************************************************/

.sales {
  padding: 32px 0;
  background-color: #000000;
  color: #ffffff;
}
.sales .btn {
  background-color: #ffffff;
  color: #000000;
}

/*^ TRUSTED PARTNERS *****************************************************************/

.partners-marquee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*^ TESTIMONIALS SECTION *****************************************************************/
#testimonials{
  background-color: #000;
}

/*^  *****************************************************************/

/*^  FEATURES *****************************************************************/

/* .features{
  display: grid;
  place-items: center;
}

.features-one, .features-two {
width: 50%;
} */

/*^ FOOTER *****************************************************************/

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 64px 0 16px;
}

footer a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}
footer a:hover {
  opacity: 0.7;
}

.icon {
  text-decoration: none;
  font-size: 0;
  color: transparent;
  width: 30px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url('assets/icons/facebook.png');
}

.instagram {
  background-image: url('assets/icons/instagram.png');
}

.twitterx {
  background-image: url('assets/icons/twitterx.png');
}

.youtube {
  background-image: url('assets/icons/youtube.png');
}
.linkedin {
  background-image: url('assets/icons/linkedin.png');
}

.copyright {
  font-size: 1.4rem;
  padding: 64px 0;
}

.registered p {
  font-size: 1.2rem;
}

/*^ BUTTONS  */

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: #eb2d3f;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#backToTopBtn:hover {
  opacity: 0.9;
}

.login-btn {
  color: #eb2d3f !important;
  font-size: 1.6rem !important;
  border: 1px solid #eb2d3f !important;
  border-radius: 50px !important;
  padding: 4px 16px !important;
  margin: 0 4px !important;
}

.signup-btn {
  color: #fff !important;
  background-color: #eb2d3f !important;
  font-size: 1.6rem !important;
  border: 1px solid #eb2d3f !important;
  border-radius: 50px !important;
  padding: 4px 16px !important;
  margin: 0 4px !important;
}

.login-btn:hover,
.signup-btn:hover {
  opacity: 0.85;
}

.my-btn {
  transition: all 0.3s ease;
}
.my-btn:hover {
  transform: translateY(-0.3rem);
}
.my-btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}
.my-btn:active {
  transform: translateY(-0.1rem);
}

.main-btn{
    color: #fff !important;
    background-color: #eb2d3f !important;
    font-size: 2.4rem !important;
    font-weight: 500;
    border: 1px solid #eb2d3f !important;
    border-radius: 50px !important;
    padding: 8px 32px !important;
    margin: 16px 4px !important;
}

/*^ ANIMATIONS */


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




/*^ MARQUEE */
.trusted-partners {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-height: auto;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 8;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: '';
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #fff 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
