img, video, iframe, hr, a, button {
    max-width:100%;
  }
  footer{
    color:#FFF;
  }
  footer a{
    color:#FFF;
  }
  footer a:hover{
    color:#F1F1F1;
  }
  [data-gjs-type="text"][class*="gjs-selected"]{
    outline:3px solid purple !important;
  }
  img[data-gjs-type="image"][class*="gjs-selected"]{
    outline:3px solid orange !important;
  }
  a[data-gjs-type="link"][class*="gjs-selected"]{
    outline:3px solid purple !important;
  }
  a{
    cursor:pointer;
  }
  .fk-iy5lh{
    margin-left:auto;
    margin-right:auto;
  }
  .fk-iawok{
    margin-left:auto;
    margin-right:auto;
  }
  [data-gjs-type="label"][class*="gjs-selected"]{
    outline:3px solid green !important;
  }
  [data-gjs-type="input"][class*="gjs-selected"]{
    outline:3px solid green !important;
    border:none;
    box-shadow:none;
  }
  .fk-i5ognl{
    margin-left:auto;
    margin-right:auto;
  }
  .fk-iy2jgq{
    width:auto;
    height:auto;
  }
  [data-gjs-type="video"][class*="gjs-selected"]{
    outline:3px solid orange !important;
  }
  .fk-i5mk6w{
    width:auto;
    height:auto;
  }
  #home{
    background-image:url(https://assets.checkoutchamp.com/Funnel/assets/images/9072beef-b63a-47c5-9dd3-5ea36ce7421d/312f8ab4-1acf-4ba5-a6c2-0e32681b8dab/headerbg.jpg?versionId=x57_c1seCU502QdEwz2wv3G7ij39pdfR);
  }
  #i7n2s{
    height:auto;
  }
  #i4joz{
    height:auto;
  }
  #iwbbi{
    font-size:20px;
  }
  #iylzve{
    display:none;
  }
  #ifrkos{
    color:#fb0000 !important;
    margin:10px 0;
  }
  #ia038s{
    display:none;
  }
  #in370g{
    display:none;
  }
  #fkt-link-86b-ebe-82e{
    display:none;
  }
  #i9jmwz{
    margin-top:-40px;
  }
  #ipx7hl{
    height:auto;
  }
  #i4kz6z{
    text-align:center;
  }
  #ifmrn3{
    height:auto;
  }
  #iimu1t{
    height:auto;
  }
  #ih2ddt{
    transform:translate3d(-2818px, 0px, 0px);
    transition:all 0.25s ease 0s;
    width:8054px;
  }
  #iuumod{
    width:392.667px;
    margin-right:10px;
  }
  #i5wtgm{
    width:392.667px;
    margin-right:10px;
  }
  #ihzw8h{
    width:392.667px;
    margin-right:10px;
  }
  #iqwxl4{
    width:392.667px;
    margin-right:10px;
  }
  #i28ohe{
    width:392.667px;
    margin-right:10px;
  }
  #i9t2bw{
    width:392.667px;
    margin-right:10px;
  }
  #iuplfa{
    width:392.667px;
    margin-right:10px;
  }
  #ion2qn{
    width:392.667px;
    margin-right:10px;
  }
  #izsl2n{
    width:392.667px;
    margin-right:10px;
  }
  #igk111{
    width:392.667px;
    margin-right:10px;
  }
  #iopwvj{
    width:392.667px;
    margin-right:10px;
  }
  #iq3306{
    width:392.667px;
    margin-right:10px;
  }
  #ihkx0p{
    width:392.667px;
    margin-right:10px;
  }
  #iusbt8{
    width:392.667px;
    margin-right:10px;
  }
  #i56nt1{
    width:392.667px;
    margin-right:10px;
  }
  #iyw3sa{
    width:392.667px;
    margin-right:10px;
  }
  #ilaxzf{
    width:392.667px;
    margin-right:10px;
  }
  #imv4nk{
    width:392.667px;
    margin-right:10px;
  }
  #ikp0sz{
    width:392.667px;
    margin-right:10px;
  }
  #iyhi1l{
    width:392.667px;
    margin-right:10px;
  }
  #i0tk9r{
    height:auto;
  }
  #ijzvln{
    height:auto;
  }
  #fkt-image-83a-d98-9a1{
    visibility:visible;
    animation-delay:0s;
    animation-name:fadeInDown;
  }
  #fkt-image-296-593-9d4{
    visibility:visible;
    animation-delay:0.5s;
    animation-name:fadeInDown;
  }
  #fkt-image-392-191-842{
    visibility:visible;
    animation-delay:1s;
    animation-name:fadeInDown;
  }
  #fkt-image-3f5-68c-a50{
    margin-top:-16px;
  }
  #i86nfs{
    height:auto;
  }
  #i03qfs{
    text-align:center;
    margin-bottom:-20px;
    margin-top:76px;
  }
  #i8u6kx{
    transform:translate3d(-3019px, 0px, 0px);
    transition:all 0.25s ease 0s;
    width:10470px;
  }
  #inzd6g{
    width:191.333px;
    margin-right:10px;
  }
  #ia2yyh{
    width:191.333px;
    margin-right:10px;
  }
  #ikmxfl{
    width:191.333px;
    margin-right:10px;
  }
  #idamqi{
    width:191.333px;
    margin-right:10px;
  }
  #iv4bz6{
    width:191.333px;
    margin-right:10px;
  }
  #ix15nu{
    width:191.333px;
    margin-right:10px;
  }
  #i3o2a5{
    width:191.333px;
    margin-right:10px;
  }
  #i2n9wc{
    width:191.333px;
    margin-right:10px;
  }
  #iii6dj{
    width:191.333px;
    margin-right:10px;
  }
  #iz8agw{
    width:191.333px;
    margin-right:10px;
  }
  #izs26r{
    width:191.333px;
    margin-right:10px;
  }
  #icpawo{
    width:191.333px;
    margin-right:10px;
  }
  #im75lo{
    width:191.333px;
    margin-right:10px;
  }
  #i12y8h{
    width:191.333px;
    margin-right:10px;
  }
  #inyo5z{
    width:191.333px;
    margin-right:10px;
  }
  #iyn867{
    width:191.333px;
    margin-right:10px;
  }
  #i6834u{
    width:191.333px;
    margin-right:10px;
  }
  #ik68h1{
    width:191.333px;
    margin-right:10px;
  }
  #ipn41i{
    width:191.333px;
    margin-right:10px;
  }
  #idio6q{
    width:191.333px;
    margin-right:10px;
  }
  #ik3jzf{
    width:191.333px;
    margin-right:10px;
  }
  #iah9qq{
    width:191.333px;
    margin-right:10px;
  }
  #iscncz{
    width:191.333px;
    margin-right:10px;
  }
  #ibq1q1{
    width:191.333px;
    margin-right:10px;
  }
  #iyviqy{
    width:191.333px;
    margin-right:10px;
  }
  #izkg3j{
    width:191.333px;
    margin-right:10px;
  }
  #i1ivdj{
    width:191.333px;
    margin-right:10px;
  }
  #isa7hp{
    width:191.333px;
    margin-right:10px;
  }
  #i6mori{
    width:191.333px;
    margin-right:10px;
  }
  #inbftn{
    width:191.333px;
    margin-right:10px;
  }
  #ijmejg{
    width:191.333px;
    margin-right:10px;
  }
  #i7afpm{
    width:191.333px;
    margin-right:10px;
  }
  #i2sziy{
    width:191.333px;
    margin-right:10px;
  }
  #ijv4sc{
    width:191.333px;
    margin-right:10px;
  }
  #i4wqc5{
    width:191.333px;
    margin-right:10px;
  }
  #ix2yoj{
    width:191.333px;
    margin-right:10px;
  }
  #i1jpmy{
    width:191.333px;
    margin-right:10px;
  }
  #in8fkm{
    width:191.333px;
    margin-right:10px;
  }
  #ij340m{
    width:191.333px;
    margin-right:10px;
  }
  #i8nvyq{
    width:191.333px;
    margin-right:10px;
  }
  #itogn8{
    width:191.333px;
    margin-right:10px;
  }
  #iggf7g{
    width:191.333px;
    margin-right:10px;
  }
  #iz2ok3{
    width:191.333px;
    margin-right:10px;
  }
  #igbpei{
    width:191.333px;
    margin-right:10px;
  }
  #ipct4b{
    width:191.333px;
    margin-right:10px;
  }
  #ibum8g{
    width:191.333px;
    margin-right:10px;
  }
  #ie0xel{
    width:191.333px;
    margin-right:10px;
  }
  #i088jn{
    width:191.333px;
    margin-right:10px;
  }
  #iu1srn{
    width:191.333px;
    margin-right:10px;
  }
  #iyqdlt{
    width:191.333px;
    margin-right:10px;
  }
  #i2to4t{
    width:191.333px;
    margin-right:10px;
  }
  #ivaug2{
    width:191.333px;
    margin-right:10px;
  }
  #ie99k7{
    height:auto;
  }
  #ish0hf{
    margin-bottom:20px;
  }
  #ihe3zn{
    height:auto;
  }
  #i0twmh{
    height:auto;
  }
  #iy6zda{
    height:auto;
  }
  #ie6de0k{
    margin-top:-43px;
    height:auto;
  }
  #i9mctvh{
    height:auto;
  }
  #features{
    margin-top:-30px;
  }
  #ifvuu71{
    height:auto;
  }
  #i2j40uu{
    height:auto;
  }
  #fkt-image-58f-a95-b79{
    visibility:visible;
    animation-delay:0.4s;
    animation-name:fadeInDown;
  }
  #fkt-image-c11-391-991{
    visibility:visible;
    animation-delay:0.5s;
    animation-name:fadeInDown;
  }
  #fkt-image-316-aa2-af5{
    visibility:visible;
    animation-delay:0.6s;
    animation-name:fadeInDown;
  }
  #fkt-image-fe7-cb0-baa{
    visibility:visible;
    animation-delay:0.8s;
    animation-name:fadeInDown;
  }
  #fkt-image-425-4a4-8fa{
    visibility:visible;
    animation-delay:0.9s;
    animation-name:fadeInDown;
  }
  #fkt-image-4b9-4a5-aa9{
    visibility:visible;
    animation-delay:1s;
    animation-name:fadeInDown;
  }
  #fkt-image-ed6-58c-ac7{
    visibility:visible;
    animation-delay:1.2s;
    animation-name:fadeInDown;
  }
  #fkt-image-424-fbb-b81{
    visibility:visible;
    animation-delay:1.3s;
    animation-name:fadeInDown;
  }
  #fkt-image-240-696-ab4{
    visibility:visible;
    animation-delay:1.4s;
    animation-name:fadeInDown;
  }
  #fkt-image-2dd-685-9d9{
    visibility:visible;
    animation-delay:1.5s;
    animation-name:fadeInDown;
  }
  #fkt-image-b83-f9e-96f{
    visibility:visible;
    animation-delay:1.6s;
    animation-name:fadeInDown;
  }
  #fkt-image-b29-394-8b3{
    visibility:visible;
    animation-delay:1.7s;
    animation-name:fadeInDown;
  }
  #fkt-image-d6d-e93-938{
    visibility:visible;
    animation-delay:1.8s;
    animation-name:fadeInDown;
  }
  #fkt-image-4b9-0b8-b1a{
    visibility:visible;
    animation-delay:1.9s;
    animation-name:fadeInDown;
  }
  #fkt-image-181-085-84c{
    visibility:visible;
    animation-delay:2.1s;
    animation-name:fadeInDown;
  }
  #fkt-image-297-cb1-b3f{
    visibility:visible;
    animation-delay:2.2s;
    animation-name:fadeInDown;
  }
  #fkt-image-1a9-9a5-80e{
    visibility:visible;
    animation-delay:2.3s;
    animation-name:fadeInDown;
  }
  #fkt-image-3d2-782-bd4{
    visibility:visible;
    animation-delay:2.4s;
    animation-name:fadeInDown;
  }
  #fkt-image-b12-ca4-958{
    visibility:visible;
    animation-delay:2.5s;
    animation-name:fadeInDown;
  }
  #fkt-image-f81-392-875{
    visibility:visible;
    animation-delay:2.6s;
    animation-name:fadeInDown;
  }
  #fkt-image-da4-8b7-92b{
    visibility:visible;
    animation-delay:2.7s;
    animation-name:fadeInDown;
  }
  #fkt-image-569-3b5-a1b{
    visibility:visible;
    animation-delay:2.8s;
    animation-name:fadeInDown;
  }
  #fkt-image-160-6a4-82b{
    visibility:visible;
    animation-delay:3s;
    animation-name:fadeInDown;
  }
  #fkt-image-cad-c8b-bec{
    visibility:visible;
    animation-delay:3.1s;
    animation-name:fadeInDown;
  }
  #fkt-image-c02-db8-83f{
    visibility:visible;
    animation-delay:3.2s;
    animation-name:fadeInDown;
  }
  #fkt-image-c99-e90-aab{
    visibility:visible;
    animation-delay:3.3s;
    animation-name:fadeInDown;
  }
  #fkt-image-130-a9e-9ac{
    visibility:visible;
    animation-delay:3.4s;
    animation-name:fadeInDown;
  }
  #fkt-image-1be-08b-acb{
    visibility:visible;
    animation-delay:3.6s;
    animation-name:fadeInDown;
  }
  #fkt-image-cdf-eaa-8a6{
    visibility:visible;
    animation-delay:3.7s;
    animation-name:fadeInDown;
  }
  #ijxjl2l{
    height:auto;
  }
  #if8ubzj{
    margin-top:-50px;
  }
  #i5ozjyo{
    height:auto;
  }
  #i44cdne{
    height:auto;
  }
  #i635xhc{
    height:auto;
  }
  #i3cff46{
    height:auto;
  }
  #i7lodfa{
    margin-bottom:-50px;
    width:100%;
  }
  #i7rf3tw{
    display:none;
  }
  #fkt-image-198-fab-94e{
    width:250px;
    margin:auto;
  }
  #in9plnr{
    padding-bottom:20px;
  }
  #bodyElementDummy{
    display:none;
  }